@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
margin:0;
padding: 0;
}


.App
{
  display: flex;
  width: 100vw;
  height: 100vh;
  
}

body{
  font-family: 'Open Sans',serif;
  max-width: 100%;
}



/* Navbar Styling */

nav
{
height: 100vh;
padding:5%;
background: rgb(2,0,36);
background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(20,20,110,1) 2%, rgba(0,212,255,1) 100%);
}


nav li
{
  list-style-type: none;
  text-decoration: none;
  margin: 5%;
  text-align: center;
  color:white;
}

a{
  text-decoration: none;
}

a.current
{
  font-weight: 900;
  text-decoration: none;
}

a.current li{
  text-shadow: #FFF 0px 0px 3px rgba(206,89,55,0);
  color:gold
}

a :hover{
  color:gold;
}

#nav-space{
  height: 100%;
  text-align: center;
  padding-top: 50%;
  font-size: 1.5rem;
  color: white;
}

#nav-name{
  text-align: center;
  color: white;
  padding-top: 20%;
  font-size: 1.8rem;
  
}

.container{
  width:100%;
  height:100%;
  text-align:center;
  
}

/* Home Page */
.profilepic{
    margin-top:5%;
    margin-bottom: 2%;
    height: 40%;
    max-width: 100%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
}

.card-section{
  height: 40%;
  width: 100%;
  text-align:center;
  display: flex;
}

.card{
  display: inline-block;
}

.container{
}
.text-container{
  width:80%;
  height:50%;
  text-align: center;
  margin: 0 auto;
}
.text-container h3{
  margin-top:2%;
}
.text-container p{
  margin-top:5%;
  font-weight: 500;
}
.card h3{
  text-transform: bold;
}

.pics{
  height: 35%;
  width: 30%;
  margin-top: 10%;
}

.typingeffect{
  text-align:center;
  width: 100%;
  font-size:2rem;
}

.card-content{
  width:100%;
  display:inline-block;
}

/* Project CSS */
.project-body{
  width: 100%;
}

.project-body h1{
  text-align: center;
}


/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
