@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

*{
margin:0;
padding: 0;
}


.App
{
  display: flex;
  width: 100vw;
  
}


body{
  font-family: 'Merriweather',serif;
  max-width: 100%;
}



/* Navbar Styling */

nav
{
padding:5%;
background: rgb(2,0,36);
background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(20,20,110,1) 2%, rgba(0,212,255,1) 100%);
}


nav li
{
  list-style-type: none;
  text-decoration: none;
  margin: 5%;
  text-align: center;
  color:white;
}

a{
  text-decoration: none;
}

a.current
{
  font-weight: 900;
  text-decoration: none;
}

a.current li{
  text-shadow: #FFF 0px 0px 3px rgba(206,89,55,0);
  color:gold
}

a :hover{
  color:gold;
}

#nav-space{
  height: 100%;
  text-align: center;
  padding-top: 50%;
  font-size: 1.5rem;
  color: white;
}

#nav-name{
  text-align: center;
  color: white;
  padding-top: 20%;
  font-size: 1.8rem;
  
}

.home-container{
  width:100%;
  height:100vh;
  text-align:center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(58,184,209,1) 100%);
    
}

/* Home Page */
.profilepic{
    margin-top:5%;
    margin-bottom: 2%;
    height: 35%;
    width: 20%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
}

.card-section{
  height: 40%;
  width: 100%;
  text-align:center;
  display: flex;
}

.card{
  display: inline-block;
}

.container{
  background: linear-gradient(112deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%);
  height: 100%;
}
.text-container{
  width:80%;
  height:50%;
  text-align: center;
  margin: 0 auto;
}
.text-container h3{
  margin-top:2%;
  font-weight: 900;
  color: rgb(107, 77, 0);
  font-size: 1.5rem;
}
.text-container p{
  margin-top:5%;
  font-weight: 600;
  color: rgb(107, 77, 0);
}
.card h3{
  text-transform: bold;
}

.pics{
  height: 35%;
  width: 30%;
  margin-top: 10%;
}

.typingeffect{
  text-align:center;
  width: 100%;
  font-size:2rem;
  color: rgb(107, 77, 0);

}

.card-content{
  width:100%;
  display:inline-block;
}

/* Project CSS */
.project-body{
  width: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(58,184,209,1) 100%);
  height: 100vh;
}

.project-body h1{
  text-align: center;
}

/* About Styling */
.about-section{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(58,184,209,1) 100%);
  
}

.about-details {
  width: 100%;
  text-align:center;
  box-shadow: 0 15px 10px #777;
}
.about-details h1{
  color: rgb(107, 77, 0);

  font-weight: 900;
  font-size: 2.5rem;
  padding-top: 5%;
}

.about-details p{
  padding-left: 2%;
  padding-right: 2%;
  padding-top:3%;
  padding-bottom: 3%;
  text-align:center;
  width: 80%;
  margin: auto;
  color: rgb(107, 77, 0);

  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.2rem;
  
}

.cmu-body {
  width: 100%;
  padding-top: 5%;
}

.cmu-body h2{
  text-align:center;
  color: rgb(107, 77, 0);

  padding-bottom: 2%;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight:400;
}

.cmu-row{
  width:100%;
  display: flex;
}

.cmu-section {
  display: flex;
  border: 1px solid silver;
  color:rgb(107, 77, 0);
  border-radius: 10px;
  margin-top: 3%;
  margin-left: 6%;
  margin-right:6%;
  box-shadow: 0 5px 5px white;
  background: linear-gradient(90deg, rgba(20,20,110,1) 2%, rgba(0,212,255,1) 100%);
  color:white;
  width:40%;

}



.cmu-section-left{
  text-align:center;
  width:30%;
  padding-right:2%;
  border-right: 0.5px solid gray;
  font-size: 1.5rem;
}
.cmu-section h3{
  margin: 2%;
}
.cmu-section-left img{
  height:50%;
  width: 50%;
}


.cmu-section-right{
  width:80%;
  padding-left: 2%;
}

.cmu-section-right h4{
  font-size: 1.5rem;
  padding-top: 2%;
  text-align: left;
}

.cmu-section-right h4, ul{
  width: 100%;
}

.cmu-section-right ul{
  list-style-type: none;
  margin-top: 2%;
}

.cmu-section-right li{
  padding:1%;
}



 .App {
  height: 100%;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
